.panda-bg-info{
    background-color: #fceae8;
}
.panda-bg-info-shoes{
    background-color: #da70d6;
}
.panda-bg-info-shoes img{
    width: 100px;
}
.panda-bg-info-watch{
    background-color: orange;
}
.panda-bg-info-watch img{
    width: 100px;
}
.panda-bg-info-bag{
    background-color: darkolivegreen;
}
.panda-bg-info-bag img{
    width: 100px;
}